*.pyc
__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/.env
/.env.test
/.env.dev
/.env.rc
/.env.staging
/.env.production
/.mypy_cache
/test_report

venv/
.vscode/
.python-version
*.db

.idea
.coverage